@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'calt' 0, 'ss01' 1, 'ss02' 0;
    font-size: 16px;
    font-weight: 450;
  }
  .font-tabular {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'tnum' 1, 'calt' 0, 'ss01' 1, 'ss02' 1;
  }
}

h2 {
  border-bottom: none;
}

img {
  border-radius: 4px;
}
